In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("opportunities.csv")

In [3]:
df[df.Region == "EMEA"].nlargest(10,'Total_Amount')[['ID', 'Territory', 'Delivery_Quarter', 'Delivery_Year']]

         ID    Territory Delivery_Quarter  Delivery_Year
2179  10808         None               Q2           2016
3667   8037   SE America               Q3           2017
2806   4909  UAE (Dubai)               Q1           2017
1933  10620   Kazakhstan               Q2           2016
2957  13709      Romania               Q2           2016
598    4865       France               Q4           2017
7898  15287      Belgium               Q1           2018
1817  10350      Romania               Q3           2017
3684  20848        Italy               Q4           2016
5669  17668      Germany               Q1           2017

In [4]:
df_germany = df[df.Territory == "Germany"]
pd.to_numeric(df_germany['Price'],errors = 'coerce').dropna().mean()

0.2646788990825688