GUIA PANDAS  
Ejercicio 1

1- Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide resolver utilizando Pandas:  
A. Cuál es el promedio general de notas.  
B. Cuál es la nota más alta y la nota más baja registrada durante el año 2019.  
C. Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.  
D. Cuál es la nota promedio por materia.  
E.Cuál es la nota promedio por padrón.

In [69]:
import datetime as dt
import pandas as pd
import numpy as np
import sys

# armamos un data frame
alumnos_data = {
        'padron': ['102214','984283','102291','102214','102214', '101456', '101456', '101456'],
        'materia': ['Analisis','Analisis','Fisica I','Algebra','Algebra', 'Fisica II', 'Datos', 'Estructura'], 
        'nota': [4, 2, 6, 8, 5, 7, 9, 10],
        'fecha': ['2019-01-01','2019-01-01','2019-01-01','2019-10-10','2020-05-01', '1986-01-01', '2019-01-01', '2019-05-08']
}

alumnos = pd.DataFrame(alumnos_data, columns = alumnos_data.keys())

In [70]:
alumnos

   padron     materia  nota       fecha
0  102214    Analisis     4  2019-01-01
1  984283    Analisis     2  2019-01-01
2  102291    Fisica I     6  2019-01-01
3  102214     Algebra     8  2019-10-10
4  102214     Algebra     5  2020-05-01
5  101456   Fisica II     7  1986-01-01
6  101456       Datos     9  2019-01-01
7  101456  Estructura    10  2019-05-08

A. Cuál es el promedio general de notas.

In [71]:
promedio_gral = alumnos['nota'].mean()
print("El el promedio general de notas es " + str(promedio_gral))

El el promedio general de notas es 6.375

B. Cuál es la nota más alta y la nota más baja registrada durante el año 2019.

In [72]:
alumnos['fecha'] = pd.to_datetime(alumnos['fecha'])
notas_2019 = alumnos[alumnos.fecha.dt.year == 2019]

In [73]:
nota_max_2019 = notas_2019['nota'].max()
nota_min_2019 = notas_2019['nota'].min()
print("La nota más alta del año 2019 es " + str(nota_max_2019))
print("La nota minima del año 2019 es " + str(nota_min_2019))

La nota más alta del año 2019 es 10
La nota minima del año 2019 es 2

C. Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre(1° 2019).

In [110]:
notas_1C_2019 = notas_2019[notas_2019.fecha.dt.month < 6]
# Opcion alternativa 
# aux = notas_1C_2019.copy(deep=True)
# aux['cantidad'] = 1
# aux = aux[aux.nota > 3]
# aux.groupby('padron').agg(np.sum).nlargest(1, 'cantidad')

        nota  cantidad
padron
101456    19         2

In [93]:
padron_max = notas_1C_2019[notas_1C_2019.nota > 3]['padron'].value_counts().head(1)
# padron_max = notas_1C_2019.loc[notas_1C_2019.nota > 3, ['padron']]['padron'].value_counts().head(1)
padron_max

101456    2
Name: padron, dtype: int64

E.Cuál es la nota promedio por padrón.

In [94]:
alumnos.groupby('padron').agg(np.mean)

            nota
padron
101456  8.666667
102214  5.666667
102291  6.000000
984283  2.000000