In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/opportunities.csv',low_memory=False)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  object
 10  Source                              16947 non-null  object
 11  Billing_Country                     16947 non-null  object
 12  Account_Name                        16947 non-null  object
 13  Opportunity_Name                    16947 non-null  object
 14  Opportunity_ID                      16947 non-null  int64
 15  Sales_Contract_No                   16947 non-null  object
 16  Account_Owner                       16947 non-null  object
 17  Opportunity_Owner                   16947 non-null  object
 18  Account_Type                        16947 non-null  object
 19  Opportunity_Type                    16947 non-null  object
 20  Quote_Type                          16947 non-null  object
 21  Delivery_Terms                      16947 non-null  object
 22  Opportunity_Created_Date            16947 non-null  object
 23  Brand                               16947 non-null  object
 24  Product_Type                        16947 non-null  object
 25  Size                                16947 non-null  object
 26  Product_Category_B                  16947 non-null  object
 27  Price                               16947 non-null  object
 28  Currency                            16947 non-null  object
 29  Last_Activity                       16947 non-null  object
 30  Quote_Expiry_Date                   16947 non-null  object
 31  Last_Modified_Date                  16947 non-null  object
 32  Last_Modified_By                    16947 non-null  object
 33  Product_Family                      16947 non-null  object
 34  Product_Name                        16947 non-null  object
 35  ASP_Currency                        16947 non-null  object
 36  ASP                                 13738 non-null  float64
 37  ASP_(converted)_Currency            16947 non-null  object
 38  ASP_(converted)                     13738 non-null  float64
 39  Planned_Delivery_Start_Date         16947 non-null  object
 40  Planned_Delivery_End_Date           16947 non-null  object
 41  Month                               16947 non-null  object
 42  Delivery_Quarter                    16947 non-null  object
 43  Delivery_Year                       16947 non-null  int64
 44  Actual_Delivery_Date                16947 non-null  object
 45  TRF                                 16947 non-null  int64
 46  Total_Amount_Currency               16947 non-null  object
 47  Total_Amount                        16888 non-null  float64
 48  Total_Taxable_Amount_Currency       16947 non-null  object
 49  Total_Taxable_Amount                16947 non-null  float64
 50  Stage                               16947 non-null  object
 51  Prod_Category_A                     16947 non-null  object
dtypes: float64(4), int64(9), object(39)
memory usage: 6.7+ MB

### El dataframe tiene 16947 registros

In [4]:
df.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [23]:
df["Bureaucratic_Code"].value_counts()

Bureaucratic_Code_4    12587
Bureaucratic_Code_5     3803
Bureaucratic_Code_1      261
Bureaucratic_Code_2      242
Bureaucratic_Code_0       51
Bureaucratic_Code_3        2
Bureaucratic_Code_6        1
Name: Bureaucratic_Code, dtype: int64

In [5]:
df['Planned_Delivery_Start_Date'] = pd.to_datetime(df['Planned_Delivery_Start_Date'])
df['Planned_Delivery_End_Date'] = pd.to_datetime(df['Planned_Delivery_End_Date'])
df['Quote_Expiry_Date'] = pd.to_datetime(df['Quote_Expiry_Date'])
df['Last_Modified_Date'] = pd.to_datetime(df['Last_Modified_Date'])
df['Account_Created_Date'] = pd.to_datetime(df['Account_Created_Date'])
df['Actual_Delivery_Date'] = pd.to_datetime(df['Actual_Delivery_Date'])
df['Opportunity_Created_Date'] = pd.to_datetime(df['Opportunity_Created_Date'])
print('Modifico el tipo de variable de las fechas, de object a datetime')
df['Price'] = pd.to_numeric(df['Price'],errors = 'coerce').dropna()
df['Total_Amount'] = pd.to_numeric(df['Total_Amount'],errors = 'coerce').dropna()
print('Modifico el tipo de variable de las precios y montos, de object a float64')

Modifico el tipo de variable de las fechas, de object a datetime
Modifico el tipo de variable de las precios y montos, de object a float64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   ID                                  16947 non-null  int64
 1   Region                              16947 non-null  object
 2   Territory                           16947 non-null  object
 3   Pricing, Delivery_Terms_Quote_Appr  16947 non-null  int64
 4   Pricing, Delivery_Terms_Approved    16947 non-null  int64
 5   Bureaucratic_Code_0_Approval        16947 non-null  int64
 6   Bureaucratic_Code_0_Approved        16947 non-null  int64
 7   Submitted_for_Approval              16947 non-null  int64
 8   Bureaucratic_Code                   16947 non-null  object
 9   Account_Created_Date                16947 non-null  datetime64[ns]
 10  Source                              16947 non-null  object
 11  Billing_Country                     16947 non-null  object
 12  Account_Name                        16947 non-null  object
 13  Opportunity_Name                    16947 non-null  object
 14  Opportunity_ID                      16947 non-null  int64
 15  Sales_Contract_No                   16947 non-null  object
 16  Account_Owner                       16947 non-null  object
 17  Opportunity_Owner                   16947 non-null  object
 18  Account_Type                        16947 non-null  object
 19  Opportunity_Type                    16947 non-null  object
 20  Quote_Type                          16947 non-null  object
 21  Delivery_Terms                      16947 non-null  object
 22  Opportunity_Created_Date            16947 non-null  datetime64[ns]
 23  Brand                               16947 non-null  object
 24  Product_Type                        16947 non-null  object
 25  Size                                16947 non-null  object
 26  Product_Category_B                  16947 non-null  object
 27  Price                               356 non-null    float64
 28  Currency                            16947 non-null  object
 29  Last_Activity                       16947 non-null  object
 30  Quote_Expiry_Date                   12322 non-null  datetime64[ns]
 31  Last_Modified_Date                  16947 non-null  datetime64[ns]
 32  Last_Modified_By                    16947 non-null  object
 33  Product_Family                      16947 non-null  object
 34  Product_Name                        16947 non-null  object
 35  ASP_Currency                        16947 non-null  object
 36  ASP                                 13738 non-null  float64
 37  ASP_(converted)_Currency            16947 non-null  object
 38  ASP_(converted)                     13738 non-null  float64
 39  Planned_Delivery_Start_Date         16947 non-null  datetime64[ns]
 40  Planned_Delivery_End_Date           16872 non-null  datetime64[ns]
 41  Month                               16947 non-null  object
 42  Delivery_Quarter                    16947 non-null  object
 43  Delivery_Year                       16947 non-null  int64
 44  Actual_Delivery_Date                0 non-null      datetime64[ns]
 45  TRF                                 16947 non-null  int64
 46  Total_Amount_Currency               16947 non-null  object
 47  Total_Amount                        16888 non-null  float64
 48  Total_Taxable_Amount_Currency       16947 non-null  object
 49  Total_Taxable_Amount                16947 non-null  float64
 50  Stage                               16947 non-null  object
 51  Prod_Category_A                     16947 non-null  object
dtypes: datetime64[ns](7), float64(5), int64(9), object(31)
memory usage: 6.7+ MB

In [7]:
df['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

### Poco mas de la mitad de las oportunidades fueron existosas

In [8]:
df['Territory'].value_counts().head(10)

None           4999
Germany        1682
NW America     1568
Australia      1208
India           809
NE America      760
Japan           681
Netherlands     533
SE America      493
France          449
Name: Territory, dtype: int64

In [9]:
df['Region'].value_counts().head(10)

Japan          4892
EMEA           4664
Americas       3945
APAC           3262
Middle East     184
Name: Region, dtype: int64

In [10]:
df['TRF'].value_counts().head(10)

0     11971
1      2192
2       627
3       354
5       297
4       208
10      190
6       131
7       111
20       83
Name: TRF, dtype: int64

### Las oportunidades pueden estar divididas en solo 5 regiones

In [11]:
df['Product_Type'].value_counts().head(10)

None              15935
Other               515
Product_Type_3      179
Product_Type_1      142
Product_Type_0       94
Product_Type_4       73
Product_Type_2        9
Name: Product_Type, dtype: int64

### La gran mayoria de las oportunidades no definen el tipo de producto

In [12]:
df['Product_Name'].value_counts().head(10)

Product_Name_100    976
Product_Name_226    836
Product_Name_231    579
Product_Name_491    524
Product_Name_4      474
Product_Name_192    442
Product_Name_111    388
Product_Name_132    383
Product_Name_495    350
Product_Name_29     345
Name: Product_Name, dtype: int64

In [13]:
df['Product_Family'].value_counts().head(10)

Product_Family_77     1345
Product_Family_133    1249
Product_Family_132     763
Product_Family_212     636
Product_Family_100     619
Product_Family_85      596
Product_Family_115     540
Product_Family_226     524
Product_Family_109     499
Product_Family_208     478
Name: Product_Family, dtype: int64

In [14]:
df['Month'].value_counts().head(10)

2018 - 10    666
2017 - 6     643
2017 - 10    638
2016 - 3     628
2017 - 7     625
2017 - 5     586
2018 - 4     579
2017 - 12    574
2018 - 6     542
2018 - 7     536
Name: Month, dtype: int64

In [15]:
df['Delivery_Year'].value_counts().head(10)

2017    6318
2018    5830
2016    4371
2019     414
2020      14
Name: Delivery_Year, dtype: int64

In [16]:
df_aux = df.loc[:,['Stage','Price','Currency','Total_Amount','Total_Amount_Currency','ASP','ASP_Currency','ASP_(converted)','ASP_(converted)_Currency','Total_Taxable_Amount','Total_Taxable_Amount_Currency']]
df_aux

,Stage,Price,Currency,Total_Amount,Total_Amount_Currency,ASP,ASP_Currency,ASP_(converted),ASP_(converted)_Currency,Total_Taxable_Amount,Total_Taxable_Amount_Currency
0,Closed Lost,NaN,None,5272800.00,EUR,0.5200,EUR,0.58817,USD,5272800.0,EUR
1,Closed Won,NaN,None,48230.00,EUR,0.5300,EUR,0.59948,USD,48230.0,EUR
2,Closed Won,NaN,None,83865.60,USD,0.4800,USD,0.48000,USD,83865.6,USD
3,Closed Lost,0.42,USD,7421881.50,USD,0.5300,USD,0.53000,USD,7421881.5,USD
4,Closed Lost,0.42,USD,13357192.50,USD,0.5300,USD,0.53000,USD,13357192.5,USD
...,...,...,...,...,...,...,...,...,...,...,...
16942,Closed Won,NaN,None,103350.00,EUR,0.5200,EUR,0.58817,USD,299715.0,EUR
16943,Closed Won,NaN,None,93015.00,EUR,0.5200,EUR,0.58817,USD,299715.0,EUR
16944,Closed Won,NaN,None,103350.00,EUR,0.5200,EUR,0.58817,USD,299715.0,EUR
16945,Closed Lost,NaN,None,2346796.88,USD,0.6375,USD,0.63750,USD,0.0,USD
16946,Closed Lost,NaN,None,25603200.00,USD,0.6400,USD,0.64000,USD,0.0,USD

## 5 REGISTROS EXITOSOS QUE LA MONEDA FINAL EN LA QUE SE COBRO NO TIENE CONVERSION POSIBLE

In [17]:
df_aux.loc[(df_aux['Stage'] == 'Closed Won') & (df_aux["Total_Amount_Currency"] != df_aux["Total_Taxable_Amount_Currency"])]

,Stage,Price,Currency,Total_Amount,Total_Amount_Currency,ASP,ASP_Currency,ASP_(converted),ASP_(converted)_Currency,Total_Taxable_Amount,Total_Taxable_Amount_Currency
2200,Closed Won,NaN,None,12194000.0,USD,67.00,USD,67.00000,USD,1.356339e+09,JPY
4805,Closed Won,NaN,None,4968.6,USD,0.49,USD,0.49000,USD,5.526570e+05,JPY
5436,Closed Won,NaN,None,167706.0,AUD,0.55,AUD,0.38919,USD,1.186711e+05,USD
15188,Closed Won,NaN,None,356400.0,JPY,55.00,JPY,0.49447,USD,3.204172e+03,USD
16010,Closed Won,NaN,None,519750.0,JPY,55.00,JPY,0.49447,USD,4.672750e+03,USD
16827,Closed Won,NaN,None,305235.0,USD,0.57,USD,0.57000,USD,2.698583e+05,EUR

In [18]:
df_aux[((df_aux["Total_Taxable_Amount_Currency"] != df_aux["ASP_Currency"]) & (df_aux["Total_Taxable_Amount_Currency"] != df_aux["ASP_(converted)_Currency"]))]

,Stage,Price,Currency,Total_Amount,Total_Amount_Currency,ASP,ASP_Currency,ASP_(converted),ASP_(converted)_Currency,Total_Taxable_Amount,Total_Taxable_Amount_Currency
2200,Closed Won,NaN,None,12194000.00,USD,67.000,USD,67.00000,USD,1.356339e+09,JPY
3579,Closed Lost,NaN,None,776081.25,GBP,0.365,GBP,0.48109,USD,9.043541e+05,EUR
3683,Closed Lost,NaN,None,45933.30,USD,0.460,USD,0.46000,USD,4.060963e+04,EUR
3940,Closed Lost,NaN,None,1241799.00,USD,0.520,USD,0.52000,USD,1.097874e+06,EUR
3941,Closed Lost,NaN,None,7501000.00,USD,0.500,USD,0.50000,USD,6.631634e+06,EUR
3942,Closed Lost,NaN,None,2352294.00,USD,0.490,USD,0.49000,USD,2.079663e+06,EUR
4805,Closed Won,NaN,None,4968.60,USD,0.490,USD,0.49000,USD,5.526570e+05,JPY
5257,Closed Lost,NaN,None,1092000.00,USD,0.390,USD,0.39000,USD,9.654372e+05,EUR
6327,Closed Lost,NaN,None,539956.80,USD,0.360,USD,0.36000,USD,6.005940e+07,JPY
6328,Closed Lost,NaN,None,539956.80,USD,0.360,USD,0.36000,USD,6.005940e+07,JPY
6987,Closed Lost,NaN,None,26100.00,USD,0.400,USD,0.40000,USD,1.669562e+07,JPY
6988,Closed Lost,NaN,None,25200.00,USD,0.400,USD,0.40000,USD,1.669562e+07,JPY
6989,Closed Lost,NaN,None,98800.00,USD,0.400,USD,0.40000,USD,1.669562e+07,JPY
7253,Closed Lost,NaN,None,3598560.00,USD,0.360,USD,0.36000,USD,9.591247e+06,EUR
7254,Closed Lost,NaN,None,3651480.00,USD,0.360,USD,0.36000,USD,9.591247e+06,EUR
7255,Closed Lost,NaN,None,3598560.00,USD,0.360,USD,0.36000,USD,9.591247e+06,EUR
7503,Closed Lost,NaN,None,43972.50,USD,0.390,USD,0.39000,USD,4.891061e+06,JPY
12769,Closed Lost,NaN,None,1239840.00,USD,0.410,USD,0.41000,USD,1.096143e+06,EUR
13475,Closed Lost,NaN,None,73150.00,USD,0.380,USD,0.38000,USD,6.467192e+04,EUR
16178,Closed Lost,NaN,None,NaN,USD,0.620,USD,0.62000,USD,0.000000e+00,EUR
16349,Closed Lost,NaN,None,5753600.00,USD,0.580,USD,0.58000,USD,5.086758e+06,EUR
16634,Closed Lost,NaN,None,1831601.25,USD,0.610,USD,0.61000,USD,3.238840e+06,EUR
16635,Closed Lost,NaN,None,1831830.00,USD,0.610,USD,0.61000,USD,3.238840e+06,EUR
16827,Closed Won,NaN,None,305235.00,USD,0.570,USD,0.57000,USD,2.698583e+05,EUR

In [19]:
df_aux.nlargest(10,"Total_Taxable_Amount")

,Stage,Price,Currency,Total_Amount,Total_Amount_Currency,ASP,ASP_Currency,ASP_(converted),ASP_(converted)_Currency,Total_Taxable_Amount,Total_Taxable_Amount_Currency
2200,Closed Won,NaN,None,12194000.0,USD,67.00,USD,67.00000,USD,1.356339e+09,JPY
5310,Closed Lost,NaN,None,919992410.0,JPY,46.00,JPY,0.41356,USD,9.199924e+08,JPY
15641,Proposal,NaN,None,760000000.0,JPY,40.00,JPY,0.35962,USD,7.600000e+08,JPY
5309,Closed Lost,NaN,None,660005280.0,JPY,44.00,JPY,0.39558,USD,6.600053e+08,JPY
15784,Qualification,NaN,None,660004620.0,JPY,33.00,JPY,0.29668,USD,6.600046e+08,JPY
5304,Closed Lost,NaN,None,523138680.0,JPY,46.00,JPY,0.41356,USD,5.231387e+08,JPY
15459,Closed Lost,0.33,USD,400000000.0,JPY,40.00,JPY,0.35962,USD,4.000000e+08,JPY
16089,Proposal,NaN,None,389880000.0,JPY,30.00,JPY,0.26971,USD,3.898800e+08,JPY
16682,Closed Lost,NaN,None,315000081.9,USD,0.63,USD,0.63000,USD,3.150001e+08,USD
16616,Closed Lost,NaN,None,256201545.6,USD,0.64,USD,0.64000,USD,2.562015e+08,USD

In [20]:
df.loc[df['Price'] == 0.42,:].head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None
5,16802,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None
4595,16822,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,7,USD,3713683.5,USD,3713683.5,Closed Lost,Prod_Category_A_None
4596,16818,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,6,USD,3444894.0,USD,3444894.0,Closed Lost,Prod_Category_A_None

In [21]:
df[df['Price'] == 0.42].head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None
5,16802,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,28,USD,14838277.5,USD,14838277.5,Closed Lost,Prod_Category_A_None
4595,16822,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,7,USD,3713683.5,USD,3713683.5,Closed Lost,Prod_Category_A_None
4596,16818,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,2013-07-27,...,Q1,2018,NaT,6,USD,3444894.0,USD,3444894.0,Closed Lost,Prod_Category_A_None