In [40]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [41]:
df = pd.read_csv('opportunities.csv',low_memory=False)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
ID                                    16947 non-null int64
Region                                16947 non-null object
Territory                             16947 non-null object
Pricing, Delivery_Terms_Quote_Appr    16947 non-null int64
Pricing, Delivery_Terms_Approved      16947 non-null int64
Bureaucratic_Code_0_Approval          16947 non-null int64
Bureaucratic_Code_0_Approved          16947 non-null int64
Submitted_for_Approval                16947 non-null int64
Bureaucratic_Code                     16947 non-null object
Account_Created_Date                  16947 non-null object
Source                                16947 non-null object
Billing_Country                       16947 non-null object
Account_Name                          16947 non-null object
Opportunity_Name                      16947 non-null object
Opportunity_ID                        16947 non-null int64
Sales_Contract_No                     16947 non-null object
Account_Owner                         16947 non-null object
Opportunity_Owner                     16947 non-null object
Account_Type                          16947 non-null object
Opportunity_Type                      16947 non-null object
Quote_Type                            16947 non-null object
Delivery_Terms                        16947 non-null object
Opportunity_Created_Date              16947 non-null object
Brand                                 16947 non-null object
Product_Type                          16947 non-null object
Size                                  16947 non-null object
Product_Category_B                    16947 non-null object
Price                                 16947 non-null object
Currency                              16947 non-null object
Last_Activity                         16947 non-null object
Quote_Expiry_Date                     16947 non-null object
Last_Modified_Date                    16947 non-null object
Last_Modified_By                      16947 non-null object
Product_Family                        16947 non-null object
Product_Name                          16947 non-null object
ASP_Currency                          16947 non-null object
ASP                                   13738 non-null float64
ASP_(converted)_Currency              16947 non-null object
ASP_(converted)                       13738 non-null float64
Planned_Delivery_Start_Date           16947 non-null object
Planned_Delivery_End_Date             16947 non-null object
Month                                 16947 non-null object
Delivery_Quarter                      16947 non-null object
Delivery_Year                         16947 non-null int64
Actual_Delivery_Date                  16947 non-null object
TRF                                   16947 non-null int64
Total_Amount_Currency                 16947 non-null object
Total_Amount                          16888 non-null float64
Total_Taxable_Amount_Currency         16947 non-null object
Total_Taxable_Amount                  16947 non-null float64
Stage                                 16947 non-null object
Prod_Category_A                       16947 non-null object
dtypes: float64(4), int64(9), object(39)
memory usage: 6.7+ MB

### El dataframe tiene 16947 registros

In [43]:
df.head(5)

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

In [44]:
df['Planned_Delivery_Start_Date'] = pd.to_datetime(df['Planned_Delivery_Start_Date'])
df['Planned_Delivery_End_Date'] = pd.to_datetime(df['Planned_Delivery_End_Date'])
df['Quote_Expiry_Date'] = pd.to_datetime(df['Quote_Expiry_Date'])
df['Last_Modified_Date'] = pd.to_datetime(df['Last_Modified_Date'])
df['Account_Created_Date'] = pd.to_datetime(df['Account_Created_Date'])
df['Actual_Delivery_Date'] = pd.to_datetime(df['Actual_Delivery_Date'])
df['Opportunity_Created_Date'] = pd.to_datetime(df['Opportunity_Created_Date'])
print('Modifico el tipo de variable de las fechas, de object a datetime')
df['Price'] = pd.to_numeric(df['Price'],errors = 'coerce').dropna()
df['Total_Amount'] = pd.to_numeric(df['Total_Amount'],errors = 'coerce').dropna()
print('Modifico el tipo de variable de las precios y montos, de object a float64')

Modifico el tipo de variable de las fechas, de object a datetime
Modifico el tipo de variable de las precios y montos, de object a float64

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16947 entries, 0 to 16946
Data columns (total 52 columns):
ID                                    16947 non-null int64
Region                                16947 non-null object
Territory                             16947 non-null object
Pricing, Delivery_Terms_Quote_Appr    16947 non-null int64
Pricing, Delivery_Terms_Approved      16947 non-null int64
Bureaucratic_Code_0_Approval          16947 non-null int64
Bureaucratic_Code_0_Approved          16947 non-null int64
Submitted_for_Approval                16947 non-null int64
Bureaucratic_Code                     16947 non-null object
Account_Created_Date                  16947 non-null datetime64[ns]
Source                                16947 non-null object
Billing_Country                       16947 non-null object
Account_Name                          16947 non-null object
Opportunity_Name                      16947 non-null object
Opportunity_ID                        16947 non-null int64
Sales_Contract_No                     16947 non-null object
Account_Owner                         16947 non-null object
Opportunity_Owner                     16947 non-null object
Account_Type                          16947 non-null object
Opportunity_Type                      16947 non-null object
Quote_Type                            16947 non-null object
Delivery_Terms                        16947 non-null object
Opportunity_Created_Date              16947 non-null datetime64[ns]
Brand                                 16947 non-null object
Product_Type                          16947 non-null object
Size                                  16947 non-null object
Product_Category_B                    16947 non-null object
Price                                 356 non-null float64
Currency                              16947 non-null object
Last_Activity                         16947 non-null object
Quote_Expiry_Date                     12322 non-null datetime64[ns]
Last_Modified_Date                    16947 non-null datetime64[ns]
Last_Modified_By                      16947 non-null object
Product_Family                        16947 non-null object
Product_Name                          16947 non-null object
ASP_Currency                          16947 non-null object
ASP                                   13738 non-null float64
ASP_(converted)_Currency              16947 non-null object
ASP_(converted)                       13738 non-null float64
Planned_Delivery_Start_Date           16947 non-null datetime64[ns]
Planned_Delivery_End_Date             16872 non-null datetime64[ns]
Month                                 16947 non-null object
Delivery_Quarter                      16947 non-null object
Delivery_Year                         16947 non-null int64
Actual_Delivery_Date                  0 non-null datetime64[ns]
TRF                                   16947 non-null int64
Total_Amount_Currency                 16947 non-null object
Total_Amount                          16888 non-null float64
Total_Taxable_Amount_Currency         16947 non-null object
Total_Taxable_Amount                  16947 non-null float64
Stage                                 16947 non-null object
Prod_Category_A                       16947 non-null object
dtypes: datetime64[ns](7), float64(5), int64(9), object(31)
memory usage: 6.7+ MB

In [46]:
df['Stage'].value_counts()

Closed Won       9533
Closed Lost      7350
Proposal           35
Negotiation        18
Qualification      11
Name: Stage, dtype: int64

### Poco mas de la mitad de las oportunidades fueron existosas

In [47]:
df['Territory'].value_counts().head(10)

None           4999
Germany        1682
NW America     1568
Australia      1208
India           809
NE America      760
Japan           681
Netherlands     533
SE America      493
France          449
Name: Territory, dtype: int64

In [48]:
df['Region'].value_counts().head(10)

Japan          4892
EMEA           4664
Americas       3945
APAC           3262
Middle East     184
Name: Region, dtype: int64

### Las oportunidades pueden estar divididas en solo 5 regiones

In [49]:
df['Product_Type'].value_counts().head(10)

None              15935
Other               515
Product_Type_3      179
Product_Type_1      142
Product_Type_0       94
Product_Type_4       73
Product_Type_2        9
Name: Product_Type, dtype: int64

### La gran mayoria de las oportunidades no definen el tipo de producto

In [50]:
df['Product_Name'].value_counts().head(10)

Product_Name_100    976
Product_Name_226    836
Product_Name_231    579
Product_Name_491    524
Product_Name_4      474
Product_Name_192    442
Product_Name_111    388
Product_Name_132    383
Product_Name_495    350
Product_Name_29     345
Name: Product_Name, dtype: int64

In [53]:
df['Product_Family'].value_counts().head(10)

Product_Family_77     1345
Product_Family_133    1249
Product_Family_132     763
Product_Family_212     636
Product_Family_100     619
Product_Family_85      596
Product_Family_115     540
Product_Family_226     524
Product_Family_109     499
Product_Family_208     478
Name: Product_Family, dtype: int64

In [51]:
df['Month'].value_counts().head(10)

2018 - 10    666
2017 - 6     643
2017 - 10    638
2016 - 3     628
2017 - 7     625
2017 - 5     586
2018 - 4     579
2017 - 12    574
2018 - 6     542
2018 - 7     536
Name: Month, dtype: int64

In [52]:
df['Delivery_Year'].value_counts().head(10)

2017    6318
2018    5830
2016    4371
2019     414
2020      14
Name: Delivery_Year, dtype: int64