## Parcial Pandas - 2do Cuatrimestre 2020

### Sinisi Fernando - 99139

In [118]:
import pandas as pd
import datetime as dt

data = {
        'uid': ['uid1','uid1','uid2','uid3','uid3'],
        'sessionid': ['ses1','ses2','ses3','ses4','ses5'],
        'event': ['ecommerce.view-product','ecommerce.view-product','ecommerce.checkout','ecommerce.checkout','ecommerce.conversion'],
        'value': [10,15,20,25,30],
        'datetime': ['PID_1','PID_1','PID_2','PID_2','PID_2']
}

df = pd.DataFrame(data, columns = data.keys())
df

    uid sessionid                   event  value datetime
0  uid1      ses1  ecommerce.view-product     10    PID_1
1  uid1      ses2  ecommerce.view-product     15    PID_1
2  uid2      ses3      ecommerce.checkout     20    PID_2
3  uid3      ses4      ecommerce.checkout     25    PID_2
4  uid3      ses5    ecommerce.conversion     30    PID_2

Punto 1:  Listar aquellos usuarios que tengan un total de sesiones mayor al promedio de sesiones por usuario
del sistema. Ej: si el promedio de los usuarios cuenta con 20 sesiones, se debe listar los usuarios que
tengan más de 20 sesiones asociadas.

In [119]:
df['cantidadSesiones'] = df.groupby('uid').transform('count')['sessionid']
df.loc[df['cantidadSesiones'] > (df['cantidadSesiones'].mean()),'uid'].unique()

array(['uid1', 'uid3'], dtype=object)

Punto 2: Calcular el valor promedio de los eventos 'ecommerce.view-product',
'ecommerce.checkout', 'ecommerce.conversion' para aquellos usuarios que hayan realizado
más de 25 sesiones. Los resultados deben ser presentados en un dataframe con las siguientes
columnas ('uid','ecommerce_view_product_mean', 'ecommerce_checkout_mean',
'ecommerce_conversion_mean').

In [120]:
df2 = df.loc[df['cantidadSesiones'] > 1, :].groupby(['uid','event']).agg({'value':'mean'}).unstack().reset_index()
df2.columns = ['uid','ecommerce_checkout_mean','ecommerce_conversion_mean','ecommerce_view_product_mean']
nuevoOrden = ['uid','ecommerce_view_product_mean','ecommerce_checkout_mean','ecommerce_conversion_mean']
dfresult = df2[nuevoOrden]
dfresult

,uid,ecommerce_view_product_mean,ecommerce_checkout_mean,ecommerce_conversion_mean
0,uid1,12.5,NaN,NaN
1,uid3,NaN,25.0,30.0