2) Un sitio de Ebooks tiene información sobre los reviews que los usuarios  
hacen de sus libros en un DataFrame con formato (user_id, book_id, rating,  
timestamp). Por otro lado tenemos información en otro DataFrame que bajamos  
de GoodReads: (book_id, book_name, avg_rating). Podemos suponer que los  
Ids de los libros son compatibles. Se pide usar Python Pandas para:  
a) Obtener un DataFrame que indique el TOP5 de Ebooks en el sitio de Ebooks.  
(Para este punto se puede ignorar el segundo DataFrame). (****) (7.5 pts)

In [65]:
import pandas as pd

In [66]:
df_eb = pd.read_csv("1C_2017.csv")

In [67]:
eb_avg = df_eb.groupby('book_id').agg({'rating':'mean'})
eb_avg.nlargest(5, 'rating')

         rating
book_id
29          5.0
117         5.0
154         5.0
228         5.0
278         5.0

b) Obtener un DataFrame que indique qué libros tienen una diferencia de rating  
promedio mayor al 20% entre el sitio de Ebooks y GoodReads. (***) (7.5 pts)

In [68]:
df_gr = pd.read_csv('GoodReads.csv')

In [69]:
eb_avg = eb_avg.reset_index()

In [77]:
df_merged = df_gr.merge(eb_avg, left_on='book_id', right_on='book_id')
df_merged = df_merged.rename(columns={"avg_rating": "rating_gr", "rating": "rating_eb"})
df_merged['diferencia_ratings'] = abs(df_merged['rating_gr'] - df_merged['rating_eb'])
df_merged[df_merged['diferencia_ratings'] > 1]

    book_id          book_name  rating_gr  rating_eb  diferencia_ratings
1         6         Nam tempor          5        1.0                 4.0
2        10          elit erat          0        4.0                 4.0
3        14   lobortis mauris.          4        0.0                 4.0
4        15        eget massa.          0        2.0                 2.0
5        28           arcu vel          1        4.0                 3.0
6        29         urna justo          3        5.0                 2.0
7        47    blandit mattis.          1        4.0                 3.0
8        49     dis parturient          3        1.0                 2.0
11       60    malesuada augue          4        1.0                 3.0
14       84  vestibulum, neque          0        2.5                 2.5